{% extends "login_layout.html" %}
{% block content %}
    <h1>Register</h1>
    <hr>
    <div class="default-form">
    <form action="" method=post value="register">
    <h2>Please sign up for a new account:</h2>
     	{{ form.csrf_token }}
      <div style="width: 40% margin: auto">
      {{ form.first_name(placeholder="First Name*") }}<br>
      {{ form.last_name(placeholder="Last Name*") }}<br>
      {{ form.email(placeholder="Email*") }}<br>
      {{ form.password(placeholder="Password*") }}<br>
      </div>
      {{ form.register }}
      </div>
    </form>
    </div>
{% endblock %}
